<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Task Scheduler -->
        <add key="LaunchAppViaTaskScheduler" value="true"/>
        <add key="Task1" value="OBS Disable Shutdown Check"/>
        <add key="Task2" value="OBS Autostart"/>
        <add key="DelayBetweenTasksMs" value="1000"/>

        <!-- Execution -->
        <add key="AppProcessName" value="obs64"/>
        <add key="AppExecutablePath" value="C:\Program Files\obs-studio\bin\64bit\obs64.exe"/>
        <add key="AppWorkingDirectory" value="C:\Program Files\obs-studio\bin\64bit"/>
        <add key="AppArguments" value="--startreplaybuffer --minimize-to-tray"/>

        <!-- GUI -->
        <add key="GUI_AppName" value="OBS"/>
        <add key="GUI_AppIconFile" value="images\obs.png"/>
        <add key="GUI_TaskbarImageFile" value="images\taskbar.png"/>
        <add key="GUI_AppAlreadyRunningText" value=" is already running!"/>
        <add key="GUI_AppNowRunningText" value=" is now running!"/>
        <add key="GUI_AppControlText"
             value="Down here in the bottom right of the screen,\nright click this icon to control it:"/>
        <add key="GUI_TaskSchedErrorText" value=".exe is not running and could not be launched it via Task Scheduler."/>
        <add key="GUI_MultiInstanceErrorText"
             value=".exe: multiple instances are running, which is abnormal. Please notify your administrator."/>

        <!-- GUI Debug: 0 = off, 1 = show 'already running', 2 = show 'now running' -->
        <!-- Ignore this if you don't understand it -->
        <add key="GUI_Debug" value="0"/>

    </appSettings>
</configuration>