<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>

        <!-- Task Scheduler -->
        <add key="LaunchAppViaTaskScheduler" value="true"/>
        <add key="Task1" value="OBS Disable Shutdown Check"/>
        <add key="Task2" value="OBS Autostart"/>
        <add key="DelayBetweenTasksMs" value="1000"/>

        <!-- Execution -->
        <add key="AppProcessName" value="obs64"/>
        <add key="AppExecutablePath" value="C:\Program Files\obs-studio\bin\64bit\obs64.exe"/>
        <add key="AppWorkingDirectory" value="C:\Program Files\obs-studio\bin\64bit"/>
        <add key="AppArguments" value="--startreplaybuffer --minimize-to-tray"/>
        
        <!-- GUI Position -->
        <!-- Values: TopLeft, TopRight, BottomLeft, BottomRight -->
        <add key="GUI_WindowPosition" value="BottomRight"/>

        <!-- GUI Contents -->
        <add key="GUI_AppName" value="OBS"/>
        <add key="GUI_AppIconPath" value="images\obs.png"/>
        <add key="GUI_TaskbarImagePath" value="images\taskbar.png"/>
        <add key="GUI_AppAlreadyRunningText" value=" is already running!"/>
        <add key="GUI_AppNowRunningText" value=" is now running!"/>
        <add key="GUI_AppControlText"
             value="Down here in the bottom right of the screen,\nright click this icon to control it:"/>
        <add key="GUI_OverflowText"
             value="If you can't find it,\nclick this icon to check the overflow area:"/>
        <add key="GUI_OverflowImagePath" value="images\overflow.png"/>
        <add key="GUI_OKButtonText" value="OK"/>
        
        <!-- GUI Errors -->
        <add key="GUI_TaskSchedErrorText" value=".exe is not running and could not be launched it via Task Scheduler."/>
        <add key="GUI_MultiInstanceErrorText"
             value=".exe: multiple instances are running, which is abnormal. Please notify your administrator."/>

        <!-- Debug: Ignore this section if you don't understand it -->
        <!-- Values: 0 = off, 1 = show 'already running', 2 = show 'now running' -->
        <add key="Debug_ShowGUI" value="0"/>

    </appSettings>
</configuration>